* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-content {
  position: relative;
  width: 90%;
  max-width: 100%;
  height: calc(100vh - 40px);
  background-color: gray;

}

.left-list{
    height: 100%;
    width: 27%;
    background-color: #fff;
    text-align: center;
}
